<footer class="site-footer h-card">
  <div class="footer-wrapper">
    <nav>
      <ul class="pages-list">
        {%- for my_page in site.pages -%} {%- if my_page.title and
        my_page.hidden != true -%}
        <li>
          <a href="{{ my_page.url | relative_url }}"
            >{{ my_page.title | escape }}</a
          >
        </li>
        {%- endif -%} {%- endfor -%}
      </ul>
    </nav>
    {%- include social.html -%}

    <div>
      &copy; 2010-2019 {{ site.author }}
    </div>
  </div>
</footer>

<div id="js-cookies" class="cookies cookies--acknowledged">
  <span
    >This site uses third party cookies from Google Analytics and Google
    AdSense</span
  >
  <a id="js-cookies-close" href="#">Accept and close popup</a>
</div>
