<header class="site-header">
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  <div class="site-description">
    {{- site.description -}}
  </div>
  <input type="checkbox" id="burger" />
  <label class="burger" for="burger">
    <img src="/assets/burger.svg" alt="Burger menu" />
  </label>
  <ul class="pages-list">
    <li>
      <label for="burger">
        <img src="/assets/close.svg" alt="Close menu" />
      </label>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
    {%- assign filtered_pages = site.pages | where_exp: "item", "item.tags contains 'menu'" -%}
    {%- for my_page in filtered_pages -%}
    <li>
      <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
</header>
