<header class="site-header">
  <div class="wrapper">
    <div class="site-title">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <div class="site-description">
        {{- site.description -}}
      </div>
    </div>
  </div>
</header>

{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- if page_paths -%}
<nav class="pages">
  <div class="wrapper">
    <ul class="pages">
      {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
      {%- unless my_page.hidden -%}
      <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
      {%- endunless -%}
      {%- endif -%}
      {%- endfor -%}
    </ul>
    {%- include social.html -%}
  </div>
</nav>
{%- endif -%}
