<header class="site-header">
  <div class="site-title-wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <div class="site-description">
      {{- site.description -}}
    </div>
  </div>
  <div class="pages-wrapper">
    <nav class="pages-nav">
      <ul class="pages-list">
        {%- for my_page in site.pages -%}
        {%- if my_page.title and my_page.hidden != true -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
      {%- include social.html -%}
    </nav>
  </div>
</header>
