<div class="post-meta">
  Category: {%- for category in post.categories -%} {%- assign category_page =
  site.category | where: "category", category | first -%} {%- if category_page
  %}
  <a href="{{ category_page.url | relative_url }}" class="p-category category">
    {{- category_page.title -}}
  </a>
  {%- else %}
  <span class="category">
    {{- category -}}
  </span>
  {%- endif -%} {%- endfor -%} {% if post.tags and post.tags.size > 0 %} Tags:
  {%- for tag in post.tags -%} {%- assign tag_page = site.tag | where: "tag",
  tag | first -%} {%- if tag_page %}
  <a href="{{ tag_page.url | relative_url }}" class="p-category">#{{ tag }}</a>
  {% else %} #{{ tag }} {%- endif -%} {%- endfor -%} {%- endif -%}
</div>
