{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<ul class="post-list">
  {%- for post in posts -%}
  <li>
    <header class="post-header">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      <div class="post-meta-header">
        <span class="post-time dt-published">{{ post.date | date: date_format }}</span>
      </div>
    </header>
    {%- if site.show_excerpts or page.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
