{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<ul class="post-list">
  {%- for post in posts -%}
  <li>
    <header class="post-header">
      <h2 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      <div class="post-meta-header">
        <span class="post-time dt-published">{{ post.date | date: date_format }}</span>
        {%- if show_category_in_title -%}
          {%- for category in post.categories -%}
          {%- assign category_page = site.category | where: "url_segment", category | first -%}
          {%- if category_page %}
          <a href="{{ category_page.url | relative_url }}" class="p-category category">
            {{- category_page.title -}}
          </a>
          {%- else %}
          <span class="category">
            {{- category -}}
          </span>
          {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </div>
    </header>
    {%- if site.show_excerpts or page.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
