@charset "utf-8";

$base-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$base-font-size: 16px;
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$margin: 30px;

@mixin margin-bottom-children {
    > * {
        margin-bottom: $margin;
    }
}

@mixin margin-bottom-children-except-last {
    > * {
        margin-bottom: $margin;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@mixin paragraph-margin {
    margin: 0 0 $base-font-size 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
}

.svg-icon {
    width: 16px;
    height: 16px;
}

p {
    @include paragraph-margin;
}

@mixin lighter-on-hover {
    &:hover {
        color: #666;
    }
}

@mixin underlined-link {
    color: inherit;
    text-decoration: underline;
    @include lighter-on-hover;
}

@mixin ui-link {
    color: inherit;
    text-decoration: none;
    @include lighter-on-hover;
}

@mixin list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

// mobile first

header.site-header {
    background: #ccddcc;
    text-align: center;
    padding: $margin;
    .site-title {
        font-size: 200%;
        @include ui-link;
    }
}

// main is used for the home page, article is used for posts and pages
main, article {
    padding: $margin;
}

main {
    a {
        @include underlined-link;
    }
}

article {
    img {
        max-width: 100%;
    }

    h2 {
        font-size: 20px;
        color: #333;
    }

    h3 {
        font-size: 18px;
    }

    a {
        @include underlined-link;
    }

    .post-tags, .page-navigation {
        margin-top: $margin;
    }
}

.page-navigation {
    display: flex;
    justify-content: space-between;
    a {
        @include underlined-link;
    }
}

.support-banner {
    border: 1px solid #fcc;
    padding: $margin;
    background: #ffc;
}

aside {
    padding: $margin;
    background: #ccc;

    nav {
        header  {
            display: none;
        }
    }
    .page-list {
        @include list-style-none;

        a {
            @include underlined-link;
        }
    }
}

footer {
    padding: $margin;
    background: #ccc;

    a {
        @include ui-link;
    }
}

.cookies {
    background: #ffc;
    border: 2px solid black;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: $margin;
    position: fixed;
    right: 0;
}

.cookies--acknowledged {
    display: none;
}

// desktop overrides

$desktop: 800px;

@media screen and (min-width: $desktop) {
    .main-outer-wrapper {
        display: flex;
        margin: 0 auto;
        max-width: 1024px;
    }

    .main-inner-wrapper {
        flex: 0.8 1 0;
        min-width: 0;
    }

    aside {
        background: inherit;
        box-sizing: border-box;
        flex: 0.2 1 0;
        nav {
            border: 1px solid #ccc;
            box-sizing: border-box;

            header  {
                display: block; // was hidden in mobile
                background: #ccddcc;
                border-bottom: 1px solid #ccc;
                box-sizing: border-box;
                padding: 20px;
            }
        }
        .page-list {
            box-sizing: border-box;
            @include list-style-none;
            padding: 20px;

            a {
                @include underlined-link;
            }
        }
    }
}

@import "code", "syntax_highlight", "fibonacci", "cv", "series", "post_list", "post_header";
