$large-font-size:  $base-font-size * 1.25 !default;

.page-navigation {
  display: flex;
  justify-content: space-between;
}

.series li div {
  display: flex;
  justify-content: space-between;
}

.series-toc {
  font-size: $small-font-size;
  border: 1px dashed $grey-color;
  padding: $spacing-unit / 2;
  margin-bottom: $spacing-unit;
  ul, ol {
    columns: 2;
  }
}

.series-list {
  margin-left: 0;
}

.series-item {
  align-items: center;
  color: $text-color;
  display: flex;
  justify-content: flex-start;
  margin-bottom: $spacing-unit / 2;
  text-decoration: none;

  // left logo image
  > img.tube {
    display: inline-block;
    flex: 0 0 auto;
    max-width: inherit;
    padding-right: $spacing-unit / 2;
    width: $spacing-unit * 2;
  }

  @include media-query($on-palm) {
    // does not fit in mobile view
    > img.tube {
      display: none;
    }
  }

  // text
  section {
    flex: 1 1 auto;

    header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      a {
        font-style: normal;
        font-weight: bold;
        font-size: $large-font-size;
      }

      time {
        font-style: normal;
        font-weight: normal;
        color: $grey-color;
        font-size: $small-font-size;
      }
    }
  }
}

.home h3 {
  @include relative-font-size(2);
}

@include media-query($on-palm) {
  .home h3 {
    @include relative-font-size(1.125);
  }
}

#cookies {
  background: black;
  bottom: 0;
  box-sizing: border-box;
  color: #fafad2;
  font-size: $small-font-size;
  padding: $spacing-unit / 2;
  position: fixed;
  text-align: center;
  width: 100%;

  a {
    color: #fafad2;
    font-weight: bold;
  }
}

.acknowledged {
  display: none;
}
