code {
  font-family: $code-font;
}

pre.highlight,
pre > code[class^="language-"] {
  display: block;
  overflow: auto;
  padding: 0.5rem;
  box-sizing: border-box;
  line-height: 1rem;
  font-size: 0.85rem;
}

pre > code[class^="language-"] {
  background: #eef;
}
