article[data-file="cv-index"] {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-top: 2rem;
      break-inside: avoid;

      div {
        margin-bottom: 0.5rem;
      }

      .period {
        font-style: italic;
        color: #444;
        font-size: smaller;
      }

      .keywords {
        font-size: smaller;
        color: #444;
      }
    }

    li:first-child {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .post-content {
      column-count: 2;
    }
  }
}
