.page-navigation {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 3em;
  font-size: 0.875rem;
  line-height: 1.6;

  .wrapper {
    padding: 2em 3em 1.5em 3em;
  }

  .wrapper > * {
    display: inline-block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .svg-icon {
    width: 16px;
    height: 16px;
  }

  .social-media-list {
    span {
      // hide username and RSS text
      display: none;
    }

    li {
      display: inline-block;
      padding-left: $spacing-unit / 2;
    }
  }
}

#js-cookies {
  background: black;
  bottom: 0;
  box-sizing: border-box;
  color: white;
  padding: $spacing-unit / 2;
  position: fixed;
  text-align: center;
  width: 100%;

  a {
    color: white;
    font-weight: bold;
  }
}

.acknowledged {
  display: none;
}
