footer {
  .wrapper {
    padding: $spacing-unit;
    box-sizing: border-box;
    background: #ccc;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .svg-icon {
    width: 16px;
    height: 16px;
  }


  @include on-laptop {
    .footer-col-wrapper {
      display: flex;
      justify-content: space-between;
    }

    p {
      margin: 0;
    }
  }
}

#js-cookies {
  background: black;
  bottom: 0;
  box-sizing: border-box;
  color: #fafad2;
  font-size: $small-font-size;
  padding: $spacing-unit / 2;
  position: fixed;
  text-align: center;
  width: 100%;

  a {
    color: #fafad2;
    font-weight: bold;
  }
}

.acknowledged {
  display: none;
}
