.site-header {
  color: white;
  background: $header-background;
  padding: $spacing-unit 0;

  a.site-title {
    font-family: $header-font-family;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  div.site-title {
    background: $header-background;
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    a {
      display: inline-block;
    }
  }

  .tagline {
    font-size: $small-font-size;
  }

  h4 { margin: 0; }

  a.site-title {
    font-size: $base-font-size * 2;
  }

  @include on-tablet {
    .wrapper {
      max-width: $tablet;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }
}

.pages {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: $spacing-unit / 2 0;

  @include on-tablet {
    .wrapper {
      max-width: $tablet;
    }
  }

  a {
    display: inline-block;
    padding-right: $spacing-unit;
    color: $text-color;

    &:hover {
      color: $h2-color;
    }
  }
}
