.site-header {
  color: white;
  background: $header-background;
  padding: $spacing-unit 0;

  a.site-title {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  div.site-title {
    align-items: baseline;
    display: flex;
    justify-content: space-between;

    a {
      display: inline-block;
    }
  }

  .tagline {
    font-size: 1rem;
  }
}

.pages {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  a {
    display: inline-block;
    font-weight: 600;
    transition: color 0.2s;
    padding: 1em 1.25em;

    &:hover {
      color: #767676;
    }
  }

  a:first-child {
    padding: 1em 1.25em 1em 0;
  }
}
