.site-header {
  color: white;

  #js-menu-icon {
    margin-left: $spacing-unit;
  }

  a.site-title {
    font-family: $header-font-family;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }

  div.site-title {
    background: $header-background;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 3 * $spacing-unit $spacing-unit;

    a {
      display: inline-block;
    }
  }

  nav {
    display: none;
    box-sizing: border-box;
    padding: $spacing-unit;
    background: darken($header-background, 5%);
  }

  nav.js-open {
    display: flex;
    justify-content: space-between;
  }

  .page-link {
    color: white;
    display: block;
    white-space: nowrap;
    font-size: $small-font-size;
  }

  .tagline {
    font-size: $small-font-size;
  }

  h4 { margin: 0; }

  a.site-title {
    font-size: $base-font-size * 2;
  }

  @include on-tablet {
    // extra white block on the very top of the page
    &::before {
      content: '';
      display: block;
      max-width: $laptop;
      background: white;
      margin: 0 auto;
      height: $spacing-unit;
    }

    #js-menu-icon {
      display: none;
    }

    nav {
      background: $header-background;
      display: flex;
      justify-content: space-between;
    }

    .wrapper {
      background: $header-background;
      display: flex;
      justify-content: space-between;
    }

    .pages-nav {
      margin-right: $spacing-unit;
    }
  }
}
