body {
  font-family: Cambria, Palatino, Optima, "Liberation Serif", Georgia, Times,
    "Times New Roman", serif;
  font-size: $font-size;
  line-height: 1.25 * $font-size;
}

h1,
h2.post-title {
  font-size: 1.5 * $font-size;
}

h2 {
  font-size: 1.25 * $font-size;
}

h3 {
  font-size: $font-size;
  font-weight: bold;
}

//
// site header
//

.site-header {
  background: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: #343434;
  }

  .site-title-wrapper {
    text-align: center;

    .site-title {
      font-size: 1.25 * $font-size;
      font-weight: bold;
    }
  }
}

//
// main
//

.page-content {
  padding: 20px;
  box-sizing: border-box;

  img {
    max-width: 100%;
  }
}
.post-list {
  .post-title {
    > a {
      text-decoration: none;
      color: #343434;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: $link-color;
  }

  blockquote {
    margin: 0;
    padding: 0;
  }
}

.post-content {
  a {
    color: $link-color;
  }

  blockquote {
    margin: 0;
    padding-left: 15px;
    border-left: 5px solid $link-color;
  }

  table {
    width: 100%;
    border: 1px solid #dedede;
    border-collapse: collapse;
  }

  th {
    background: #eee;
  }

  th,
  td {
    border: 1px solid #dedede;
  }
}

.post-time {
  font-size: $small-font-size;
  color: #666;
}

.post-meta-header {
  display: flex;
}

.post-meta {
  display: block;
  margin-top: $font-size;
  font-size: $small-font-size;

  a {
    color: $link-color;
  }
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  a {
    color: #343434;
  }
}

//
// footer
//

.site-footer {
  background: #f2f2f2;
  box-sizing: border-box;
  border-top: 1px solid #dedede;
  padding: 20px;
  text-align: center;
}

//
// support banner
//

.support-banner {
  margin: 20px 0;
  padding: 16px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  background: #f2f2f2;
  text-align: center;
  font-size: $small-font-size;
  a {
    color: $link-color;
  }
}

//
// support page
//

.support {
  form {
    text-align: center;
  }

  .qr-code {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    display: block;
  }

  .center {
    text-align: center;
  }
}

//
// desktop overrides
//

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
    flex-flow: row wrap;
  }

  .site-header {
    width: 340px;
  }

  .page-content {
    width: calc(100% - 340px);
  }

  .site-footer {
    flex-grow: 1;
  }
}

//
// mobile overrides
// generally speaking, the styles are mobile-first, unless it is easier to define a mobile override
//

@media screen and (max-width: 600px) {
  .post-content {
    table {
      border: none;

      thead {
        display: none;
      }

      tr {
        display: block;
        border: 1px solid #dedede;
        box-sizing: border-box;
        margin-bottom: $font-size;
      }

      tr:last-child {
        margin-bottom: 0;
      }

      td {
        display: block;
        border: none;
      }
    }
  }
}
