body {
  font-family: $text-font;
  font-size: $font-size;
  background: $footer-background; // so that the footer expands on short pages
}

h1,
h2.post-title {
  font-size: 2 * $font-size;
  font-family: $header-font;
  margin: 0;
}

h2 {
  font-size: 1.5 * $font-size;
  font-family: $header-font;
}

h3 {
  font-size: 1.2 * $font-size;
  font-weight: bold;
  font-family: $header-font;
}

//
// site header
//

.site-header {
  background: $header-background;
  padding: 1.5rem;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: #343434;
  }

  .site-title-wrapper {
    text-align: center;
    font-family: $header-font;

    .site-title {
      font-size: 1.25 * $font-size;
      font-weight: bold;
    }
  }
}

//
// main
//

.page-content {
  padding: 1.5rem;
  box-sizing: border-box;
  background: $main-background;

  img {
    max-width: 100%;
  }
}

.post-list {
  .post-title {
    > a {
      text-decoration: none;
      color: #343434;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    color: $link-color;
  }

  blockquote {
    margin: 0;
    padding: 0;
  }

  // increase margin from previous post
  .post-title {
    margin: $font-size * 3 0 0 0;
  }

  // except for the first post
  li:first-child .post-title {
    margin: 0;
  }
}

// increase margin from h1 if it exists
h1 + .post-list li:first-child .post-title,
h1 + p + .post-list li:first-child .post-title {
  margin: $font-size * 3 0 0 0;
}

.post-content {
  h2 {
    margin: $font-size * 3 0 $font-size 0;
  }

  h3 {
    margin: $font-size * 3 0 $font-size 0;
  }

  h2 + h3 {
    margin: $font-size 0;
  }

  a {
    color: $link-color;
  }

  figcaption {
    font-style: italic;
    font-size: smaller;
  }

  blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 0.3rem solid $link-color;
  }

  table {
    width: 100%;
    border: 1px solid $table-border-color;
    border-collapse: collapse;
  }

  th {
    background: #eee;
  }

  th,
  td {
    border: 1px solid $table-border-color;
  }
}

.post-time {
  font-size: $small-font-size;
  color: $post-time-color;
}

.post-meta-header {
  display: flex;
}

.post-meta {
  display: block;
  margin-top: $font-size;
  font-size: $small-font-size;

  a {
    color: $link-color;
  }
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  a {
    color: #343434;
  }
}

//
// footer
//

.site-footer {
  box-sizing: border-box;
  border-top: 1px solid $footer-border;
  padding: 1.5rem;
  text-align: center;
}

//
// support banner
//

.support-banner {
  margin: 1.5rem 0;
  padding: 1rem;
  border: 1px solid $table-border-color;
  box-sizing: border-box;
  background: $header-background;
  text-align: center;
  font-size: $small-font-size;
  a {
    color: $link-color;
  }
}

//
// desktop overrides
//

@media screen and (min-width: 1024px) {
  .body {
    display: flex;
    flex-flow: row wrap;
  }

  .site-header {
    width: 340px;
  }

  .page-content {
    width: calc(100% - 340px);
  }

  .site-footer {
    flex-grow: 1;
  }
}

// wide screen overrides
@media screen and (min-width: 1280px) {
  .post-list {
    display: flex;
    flex-wrap: wrap;

    li {
      box-sizing: border-box;
      flex: 1 0 49%;
    }

    li:nth-child(even) {
      margin-left: 2%;
    }

    .post-title {
      margin: 0;
    }
  }

  h1 + .post-list li:nth-child(2) .post-title, h1 + p + .post-list li:nth-child(2) .post-title {
    margin: 3rem 0 0 0;
  }
}

//
// mobile overrides
// generally speaking, the styles are mobile-first, unless it is easier to define a mobile override
//

@media screen and (max-width: 600px) {
  .post-content {
    table {
      border: none;

      thead {
        display: none;
      }

      tr {
        display: block;
        border: 1px solid $table-border-color;
        box-sizing: border-box;
        margin-bottom: $font-size;
      }

      tr:last-child {
        margin-bottom: 0;
      }

      td {
        display: block;
        border: none;
      }
    }
  }
}
