// nav appears on both header and footer.
// header is for desktop, footer is for mobile.

// Common properties

.pages-list {
  font-size: $small-font-size;
  box-sizing: border-box;
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.social-media-list {
  display: flex;
  justify-content: space-evenly;
  span {
    display: none; // hide text of social media icons
  }
  li {
    display: inline-block;
  }
}

// Header only

.site-header {
  .pages-list {
    display: block;
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    margin-top: $font-size;
    margin-bottom: $font-size;
    > li {
      display: block;
      margin: 1rem 0;
    }
  }
}

// Footer only

.site-footer {
  .pages-list {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;

    li {
      display: inline-block;
      margin-bottom: $font-size;
      margin-left: $small-font-size;
    }

    li:first-child {
      margin-left: 0;
    }
  }

  .social-media-list {
    margin-bottom: $font-size;
  }
}

.site-header {
  nav,
  .social-media-list {
    display: none;
  }
}

//
// desktop overrides
//

@media screen and (min-width: 1024px) {
  // show header elements
  .site-header {
    .pages-nav {
      display: block;
    }
    .social-media-list {
      display: flex;
    }
  }

  // hide footer elements
  .site-footer {
    .pages-nav,
    .social-media-list {
      display: none;
    }
  }
}
