.post-content {
  img {
    max-width: 100%;
  }

  figure {
    box-sizing: border-box;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 5px;
  }

  figcaption {
    font-size: $small-font-size;
    color: $grey-color;
  }

  table {
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    text-align: left;

    th, td {
      padding: 10px 15px;
    }

    td {
      border: 1px solid #e8e8e8;
    }

    th {
      background-color: #f0f0f0;
      border: 1px solid #dedede;
      border-bottom-color: #c9c9c9;
    }

    tr:nth-child(2n) {
      background-color: #f7f7f7;
    }
  }

  h2 {
    // more space to break the flow
    margin: $spacing-unit 0;
  }

  h3 {
    font-weight: bold;
  }

  a {
    @include link-style(black);
    text-decoration: underline;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 0 1.5em;
  }
}
