body {
  padding: 0;
  margin: 0;
}

// navigation

.pages-list,
.social-media-list {
  padding: 0;
  margin: 0;
  > li {
    list-style: none;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

// main
.page-content {
  .post-list {
    padding: 0;
    margin: 0;

    > li {
      list-style: none;
    }
  }
}
