body {
  padding: 0;
  margin: 0;
}

// site header
.site-header {
  .pages-wrapper {
    nav.pages {
      ul.pages {
        padding: 0;
        margin: 0;
        > li {
          list-style: none;
        }
      }
      .social-media-list {
        padding: 0;
        margin: 0;
        > li {
          list-style: none;
        }
      }
    }
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

// main
.page-content {
  .post-list {
    padding: 0;
    margin: 0;

    > li {
      list-style: none;
    }
  }
}
