// support page
article[data-file="support"] {
  form {
    text-align: center;
  }

  .qr-code {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
    display: block;
  }

  .center {
    text-align: center;
  }

}
