$font-size: 1rem;
$small-font-size: 0.75 * $font-size;
$link-color: #217ffa;

$text-font: 'Open Sans', sans-serif;
$header-font: 'Open Sans', sans-serif;
$code-font: 'Fira Code', monospace;

$footer-background: #ddd;
$footer-border: #aaa;
$main-background: #fff;
$table-border-color: #dedede;
$header-background: #f2f2f2;
$post-time-color: $footer-border;
