$header-background-color: #2174ac;
$header-color: white;

$spacing-unit: 30px;

$light-theme-background-color: white;
$light-theme-color: black;

$dark-theme-background-color: #111;
$dark-theme-color: #eee;
