<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

    <body>
        {%- include header.html -%}

        <div class="main-outer-wrapper">
            <div class="main-inner-wrapper">
                {{ content }}
            </div>
            <aside>
                {%- include page-list.html -%}
            </aside>
        </div>

        {%- include footer.html -%}
        
        {% if page.use_mermaid %}
            <script src="https://unpkg.com/mermaid@8.8.0/dist/mermaid.min.js"></script>
            <script>mermaid.initialize({startOnLoad:true, flowchart: { useMaxWidth: true }});</script>
        {% endif %}

    </body>

</html>
