---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if paginator.posts.size > 0 -%}
{%- if page.list_title -%}
<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<ul class="post-list">
  {%- for post in paginator.posts -%}
  <li>
    <header class="post-header">
      <span class="post-time dt-published">{{ post.date | date: date_format }}</span>
      <h3 class="post-title">
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </header>
    {%- if site.show_excerpts or page.show_excerpts -%}
    {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}

<!-- Pagination links -->
<div class="page-navigation">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="prev">
    &laquo; Previous
  </a>
  {% else %}
  <span>&laquo; Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
  {% else %}
  <span>Next &raquo;</span>
  {% endif %}
</div>
