---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <div class="post-meta-header">
      <span class="post-time dt-published">{{ page.date | date: date_format }}</span>
    </div>
    {%- assign post = page -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  {%- if page.series -%}
  <div class="series-toc-in-post">
    <p>
      {% assign series_page = site.series | where: "title", page.series | first
      %} This article is part of the
      <a href="{{ series_page.url | relative_url }}">{{ page.series }}</a>
      series:
    </p>

    <ol>
      {%- assign posts = site.posts | reverse -%} {%- for post in posts -%} {%-
      if post.series contains page.series -%}
      <li>
        {%- if post.url == page.url -%} {{ post.title | escape }} {%- else -%}
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- endif -%}
      </li>
      {%- endif -%} {%- endfor -%}
    </ol>
  </div>
  {%- endif -%}

  {%- include meta.html -%}
</article>

<div class="support-banner">
  Thank you for reading this post. If you liked it, spread the word or see how
  you can
  <a href="/support/">support</a> this blog!
</div>

<div class="page-navigation">
  {% if page.previous.url %}
  <a class="prev" href="{{page.previous.url}}"
    >&laquo; {{page.previous.title}}</a
  >
  {% endif %} {% if page.next.url %}
  <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
