---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- assign post = page -%}
    {%- include meta.html -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  {%- if page.series -%}
  <div class="series-toc">
    <p>
      {% assign series_page = site.series | where: "title", page.series | first %}
      This article is part of the <a href="{{ series_page.url | relative_url }}">{{ page.series }}</a>
      series:
    </p>

    <ol>
      {%- assign posts = site.posts | reverse -%}
      {%- for post in posts -%}
      {%- if post.series contains page.series -%}
      <li>
        {%- if post.url == page.url -%}
        {{ post.title | escape }}
        {%- else -%}
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ol>
  </div>
  {%- endif -%}
</article>

<div class="page-navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
