---
layout: default
---

<article class="post">

  <header class="post-header">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <div class="post-meta-header">
      <span class="post-time dt-published">{{ page.date | date: date_format }}</span>
    </div>
    {%- assign post = page -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <ol class="series-toc-in-toc">
      {%- assign posts = site.posts | where: "series", page.title | reverse -%}
      {%- for post in posts -%}
        <li>
          <div>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
            <span>{{ post.date | date: date_format }}</span>
          </div>
        </li>
      {%- endfor -%}
    </ol>

  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>

<div class="support-banner">
  Thank you for reading this post. If you liked it, spread the word or see how
  you can
  <a href="/support/">support</a> this blog!
</div>
