---
layout: default
---

<div class="col-container">
  <div class="main-col">
    {{ content }}
  </div>
  <aside class="side-col">
    <h4>Recent Posts</h4>
    <ul>
      {%- for post in site.posts limit:5 -%}
      <li>
        <a href="{{ post.url | relative_url }}">
          {{- post.title -}}
        </a>
      </li>
      {%- endfor -%}
    </ul>
    <h4>Categories</h4>
    <ul>
      {%- for category_page in site.category -%}
      <li>
        <a href="{{ category_page.url | relative_url }}">
          {{- category_page.title -}}
        </a>
      </li>
      {%- endfor -%}
    </ul>
    {%- assign featured_posts = site.posts | where_exp: "item", "item.featured" | limit: 5 -%}
    {%- if featured_posts and featured_posts.size > 0 -%}
    <h4>Featured Posts</h4>
    <ul>
      {%- for post in featured_posts -%}
      <li>
        <a href="{{ post.url | relative_url }}">
          {{- post.title -}}
        </a>
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
  </aside>
</div>
