.page__fibonacci-index {
  ul.selector {
    list-style: none;
    margin-left: 0;

    li {
      margin-bottom: $margin;
    }

    figure {
      padding: 0;
      border: none;
      box-shadow: none;
      border-radius: 0;

      > * {
        margin-bottom: 0;
      }
    }

    label {
      cursor: pointer;
    }

    input {
      display: none;
    }

    .code {
      display: none;
      @include margin-bottom-children;
    }

    input[type="checkbox"]:checked ~ .code {
      display: block;
    }
  }
}
