$margin: 30px;

* {
  font-family: "Merriweather", Candara, Georgia, serif;
  // 'Open Sans', sans-serif
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

/*
.body is the main container in the page, child of <body>
*/

@mixin normal-font-size {
  font-size: 16pt;

  @media screen and (max-width: 800px) {
    font-size: 12pt;
  }
}

.body {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  @include normal-font-size;
}

// links
a {
  color: black;
}

a:hover {
  color: #666;
}

@mixin margin-bottom-children {
  > * {
    margin-bottom: $margin;
  }
}

@mixin margin-bottom-children-except-last {
  > * {
    margin-bottom: $margin;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
