/*
.page-content is the main div element between header and footer
*/

@mixin round-box {
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: $margin;
  border-radius: $margin / 3;
  box-shadow: 2px 2px #f0f0f0;
}

@mixin line-height {
  line-height: 35px;

  @media screen and (max-width: 800px) {
    line-height: 25px;
  }
}

.page-content {
  @include margin-bottom-children;
}

@media screen and (max-width: 800px) {
  .page-content {
    padding: 0 $margin;
  }
}

// post-header

.post-header {
  @include margin-bottom-children;

  .post-title {
    text-align: center;
    font-size: 22pt;
  }

  .post-time {
    font-size: 14pt;
    font-style: italic;
    color: #444;
  }
}

/**
.post-content is the main post content, between the title and the post meta
*/
.post-content {
  @include margin-bottom-children;
}

// appears on tag pages
.page-heading {
  font-size: 22pt;
  text-align: center;
}

code,
code span {
  font-family: "Source Code Pro", monospace;
}

article {
  p,
  li {
    @include line-height;
  }

  h2 {
    font-size: 22pt; /* same as h1 but not aligned to the center */
  }

  h3 {
    font-size: 16pt;
  }

  pre {
    overflow: auto;
    border: 1px solid #ccc;
    padding: $margin / 3;
  }

  img {
    max-width: 100%;
  }

  a {
    color: blue;
  }

  a:hover {
    color: red;
  }

  ul,
  ol {
    margin-left: 25px;
  }

  blockquote {
    font-style: italic;
    color: #444;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 1px solid #444;
  }

  .mermaid {
    text-align: center;
  }

  table {
    box-sizing: border-box;
    width: 100%;
    font-size: smaller;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ccc;
    padding: $margin / 3;
    text-align: left;
  }

  figure {
    @include margin-bottom-children-except-last;
    @include round-box;
  }

  figcaption {
    font-size: smaller;
    font-style: italic;
  }
}

// post-meta
.post-meta {
  font-size: 12pt;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  padding-top: $margin;
}

.support-banner {
  padding: $margin;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #f0f8ff;
}

.page-navigation {
  display: flex;
  justify-content: space-between;

  .next {
    text-align: right;
  }
}

// .post-list is the list of posts on the home page
.post-list {
  list-style: none;
  @include margin-bottom-children;

  li {
    @include round-box;
  }

  @media screen and (min-width: 800px) {
    .post-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .post-meta-header {
      text-align: right;
    }

    .post-title {
      text-align: left;
    }
  }

  .post-title {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
