.site-footer {
  background: #ccddcc;
  padding: $margin;
  text-align: center;
  @include margin-bottom-children-except-last;

  ul {
    list-style: none;
  }
}


.social-media-list {
  display: flex;
  justify-content: space-evenly;

  span {
    display: none;
  }
  svg {
    width: 16px;
    height: 16px;
  }
}
