.site-header {
  background: #ccddcc;
  padding: $margin;

  ul {
    list-style: none;
  }

  input {
    // hide the actual checkbox
    display: none;
  }

  label {
    cursor: pointer;

    img {
      max-width: 32px;
    }
  }

  .burger {
    position: absolute;
    top: $margin / 2;
    left: $margin / 2;
  }
}

.site-title {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 32pt;
  font-family: "Source Code Pro", monospace;
  margin-bottom: $margin;
}

.site-description {
  display: block;
  text-align: center;
  font-size: 14pt;
  color: #444;
}

.pages-list {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0;
  left: -250px;
  transition: left 250ms ease-in-out;
  background: #fff;
  overflow: auto;
  box-sizing: border-box;
  border-right: 1px solid #ccc;

  label {
    display: inline-block;
  }

  a {
    display: block;
  }

  a:hover {
    background: #ccddcc;
  }

  label,
  a {
    font-size: 12pt;
    color: black;
    padding: $margin / 2;
  }
}

input[type="checkbox"]:checked ~ .pages-list {
  left: 0;
}

.social-media-list {
  display: flex;

  span {
    display: none;
  }
  svg {
    width: 16px;
    height: 16px;
  }
}
